# <span style="color:#3182bd"><center>Estad√≠stica y Clases en Python</center></span>

In [11]:
import pandas as pd
url = pd.read_csv('https://raw.githubusercontent.com/AprendizajeProfundo/Diplomado-Avanzado/c01c908a0388a58b45cac707cb716438197a2d88/M%C3%B3dulo%2011%20-%20Mapas%20Auto%20Organizados/Datos/iris.csv')
url.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [12]:
def secuencia(datos):
    t= list(datos.index)[0] 
    if t==0:
        datos = datos[datos.index>=t]
        t= t+ 2
        return(datos.head(2))
    else:
        t = t + 2
        datos = datos[datos.index>=t]
        return(datos.head(2))
   
secuencia(datos)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [17]:
class Clase:
    def __init__(self,url,t):
        self.url = url
        self.t = t
        self.df = pd.read_csv(url)
    def Columnas(self):
        if len(self.df.index)>self.t:
            
            self.df = self.df[self.df.index>=self.t]
            return (self.df.head(2))
        else:
            return("Error")

In [18]:
url= ('https://raw.githubusercontent.com/AprendizajeProfundo/Diplomado-Avanzado/c01c908a0388a58b45cac707cb716438197a2d88/M%C3%B3dulo%2011%20-%20Mapas%20Auto%20Organizados/Datos/iris.csv')

In [19]:
try:
    valor += 2
except NameError:
    valor = 1
Clase(url,valor).Columnas()

    sepal.length  sepal.width  petal.length  petal.width variety
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa